name: cPanel Github CI/CD
run-name: ${{github.actor}} is testing Actions
on: [push]
jobs:
    Explore-Github-Actions:
        runs-on: ubuntu-latest
        steps:
            - run: echo "Triggered by ${{ github.event_name}}"
            - run: echo "Running on ${{runner.os}}"
            - run: echo "Branch ${{github.ref}} and repo ${{github.repository}}"
            - name: Check out repository code
              uses: actions/checkout@v5
            - run: echo "The ${{github.repository}} has been cloned to runner"
            - run: echo "Workflow ready to test code on runner"
            - name: List files in the repository
              run: |
                  ls ${{github.workspace}}
            - run: echo "Status ${{job.status}}"
